@charset "UTF-8";

body{
    background-color: rgb(192, 236, 192);
}

h1{
    color: rgb(16, 66, 16);
}

/* #principal -> pode ser assim tb */
h1#principal{
    text-align: center;
    background-color: rgb(21, 80, 39);
    color: white;
    padding: 5px;
    
}

h2{
    color: rgb(94, 221, 94);
}

.basico{
    color:rgb(45, 134, 45)
}

.intermediario{
    color: rgb(158, 158, 18)
}

.avancado{
    color: red
}